{% extends 'base.html' %}
{% block head %}
<body>
    
<h1>ENTERTAINING CAT TOYS!</h1>
</div>
{% for Product in catToys%}
<div class="card-columns">              
  <div class="card">
      <img class="card-img-top" src="{{url_for('static', filename='img/'+Product.image)}}" alt="Card image" width="100%" height="100%" >
      <div class="card-body" >
          <h4 class="card-title">{{Product.name}}</h4>
          <p class="card-text">{{Product.description}}</p>
      </div>
       <div class="card-footer">{{"$%.2f"|format(Product.price)}}
        <form action="{{ url_for('main.order') }}">
          <input type="hidden" id="product_id" name="product_id" value="{{ Product.id }}">
          <input class="btn btn-primary" type="submit" value="Add to Basket">
      </form>
</div>
</div>
      
  </div>
  {% endfor %}

  
</div>
</body>
</section>

{% endblock %}