{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block main %}


<section>
    <body>
        <div class="Highlighted" style=text-align:center>
    
        <a href="Dog_Food">
        <img src=https://image.budgetpetproducts.com.au/products_pictures/1/95/94892.jpg class="center-block img-responsive" >
        </a>
        <a href="Dog_CollarLead">
        <img src=https://image.budgetpetproducts.com.au/products_pictures/1/95/94886.jpg class="center-block img-responsive" >
        </a>
        <a href="Dog_Apparel">
        <img src=https://image.budgetpetproducts.com.au/products_pictures/1/95/94895.jpg class="center-block img-responsive" >
        </a>
        
        </div>
        <div style=text-align:center>
        <p>
          <h1>Some of our biggest sales ever! 
          </h1> 
        
          <a href="Sale">
            <img src=https://182c095af351c4f86c03-3dcc1a0c5ec1b04fc3bac90ca50c8ee4.ssl.cf4.rackcdn.com/products_pictures/2021/11/17/110355.gif
             class="img-responsive" width="500" height="500">
            </a>
        </p>
        </div>
        <div style=text-align:center>
          <p>
            <a href="Cat_Food">
            <img src=https://image.budgetpetproducts.com.au/products_pictures/1/95/94861.jpg class="">
            </a>
            <a href="Cat_Toys">
            <img src=https://image.budgetpetproducts.com.au/products_pictures/1/95/94860.jpg>
            </a>
            <a href="Cat_Apparel">
            <img src=https://image.budgetpetproducts.com.au/products_pictures/1/95/94868.jpg>
            </a>
          </p>
      </div>
      
      </body>
  
    </section>
    
    
    <footer>
        <div>
          <p>
            <h3>Email: T&Sommerfeld@petshop.com
              </h3>
            </p>
            <img src=https://www.budgetpetproducts.com.au/images/awards/canstar.svg height=50% width = 50%>
            
        </div>
    </footer>
    
    {% endblock %}